input[type=text], select {
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
  font-size: 16px;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
    transition-duration: 0.4s;
  }
  
  input[type=submit]:hover {  
    background-color: white; 
    color: black;
  }
  
  .contents {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 20px;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #008CBA;
    color: white;
  }
  .sidebar a.mainpage {
    background-color: #108bb4b2;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.main {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.main {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .header {
    padding: 30px;
    text-align: center;
    background: #2EAEBD;
    color: white;
    font-size:27px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    text-align: middle;
  }
  tr{
    width: 100%;
  }
  th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
  }
  
tr:nth-child(odd) {background-color: #CFD4D5;}
  
  th {
    background-color: #4A737D;
    color: white;
  }

.contents a:link {color:black;text-decoration:none;}
.contents a:visited {color:black;text-decoration:none;}
.contents a:hover {text-decoration:underline;}